* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --nav-height: 70px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

nav {
  // height: var(--nav-height);
  box-shadow: 2px 3px 5px 0px rgb(0 0 0 / 14%);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header {
  display: grid;
  grid-template-areas: "logo form cart profile";
  grid-template-columns: auto 1fr auto auto;
  padding: 10px 0;
  gap: 15px;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-areas:
      "logo . cart profile"
      "form form form form";
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 800;
    background-image: linear-gradient(red, orangered, orange);
    color: transparent;
    background-clip: text;
  }

  p {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .logo {
    grid-area: logo;
  }

  .cart {
    grid-area: cart;
    margin-right: 0;
    margin-left: auto;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;

    .alert {
      display: none;
      position: absolute;
      top: -5px;
      right: 0;
      background-color: red;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
    }

    .alert.visible {
      display: inline;
    }
  }

  .profile {
    grid-area: profile;
  }

  .avatar {
    max-width: 100%;
    border-radius: 50%;
    outline: 5px solid white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &:hover + .profile-menu {
      display: block;
    }
  }

  form {
    grid-area: form;
    flex: 1;
    height: 50px;
    position: relative;
  }

  form input {
    height: 100%;
    width: 100%;
    padding: 0 100px 0 10px;
    border: none;
    outline: 1px solid #cac8c8;
    font-size: 1rem;
  }

  form input:focus {
    outline: 2px solid orange;
  }

  form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    outline: none;
    border: none;
    width: 90px;
    cursor: pointer;
    background-color: orange;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
  }

  .profile {
    position: relative;
  }

  .profile-menu {
    display: none;
    padding: 0.5rem 0;
    width: 200px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    bottom: 5px;
    right: 0;
    text-wrap: nowrap;
    transform: translate(0, 100%);
    font-size: 0.9rem;

    &:hover {
      display: block;
    }
  }

  .profile-menu li {
    padding: 0.3rem 0.5rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: orange;
    }
  }
}

.content {
  // position: relative;
  // width: 100%;
  // height: calc(100vh - var(--nav-height));
}

.overlay {
  display: none;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.section-margin {
  margin-bottom: 10px;
}

.cover {
  height: 120px;
  background-image: url("img/ecommerce.png");
  background-size: cover;
  background-position: left;
}

.display-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f2f2f2;

  .summary-label {
    min-width: 150px;
  }

  .sort-by-label {
    min-width: 55px;
  }

  .products-count {
    font-size: 1rem;
  }

  .sort-by {
    min-width: 250px;
  }

  select {
    height: 25px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 1rem;
  }

  .sort-by-select {
    font-size: 1rem;
  }

  @media (max-width: 992px) {
    .summary-label {
      width: calc(100% - 80px);
    }

    .products-count {
      margin-left: 0;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  .product {
    border: 1px solid #e2e0e0;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .product-img-wrapper {
    position: relative;
    cursor: pointer;
  }

  .discount-label {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
  }

  img {
    max-width: 100%;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .rating-star {
    font-size: 0.9rem;
    margin-right: 0.1rem;
    display: inline-block;

    &.colored--golden {
      color: gold;
    }

    &.colored--grey {
      color: rgb(228 227 227);
    }
  }

  .title {
    font-weight: 400;
    font-size: 1rem;
  }

  .stock {
    margin: 5px 0 10px;
    font-size: 1rem;
    opacity: 0.6;
    color: red;
  }

  .price {
    margin: 10px 0 0;
    sup {
      font-size: 0.9rem;
    }

    .old {
      text-decoration: line-through;
      margin-left: 0.3em;
      font-size: 1rem;
      opacity: 0.6;
    }

    .current {
      font-weight: 400;
      font-size: 1.5rem;
      color: orange;
    }
  }

  .free-shipping {
    opacity: 0.6;
    font-size: 0.95rem;
    margin-bottom: 5px;
  }

  .description {
    line-height: 1.7;
    margin: 10px 0;
  }

  .cart-icons {
    display: flex;
    align-items: center;
    margin-top: auto;
    transition: 0.3s;
    width: 100%;
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    transition: 0.3s;
    width: 100%;

    &.active {
      background-color: green;
      pointer-events: none;
      width: 80%;
    }
  }

  .cart-icon {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    padding: 25px 0;
  }

  .remove-from-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    width: 0%;
    display: none;

    &.active {
      display: block;
      width: 20%;
      margin-left: 0.3rem;
    }
  }
}

.container {
  padding: 5px 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;

  @media (max-width: 768px) {
    width: 95%;
  }
}
