.bottom-product-bar {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cart-icon {
  font-weight: 400;

  &.hidden {
    display: none;
  }
}

.add-to-cart {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  border-radius: 5px;

  &.active {
    display: flex;
  }

  &:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.add-to-cart-spinner-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }
}

.add-to-cart-spinner {
  font-size: 1.5rem;
}

.quantity-wrapper {
  position: relative;
  display: none;
  align-items: center;
  width: fit-content;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  &.active {
    display: flex;
  }

  input {
    width: 50px;
    height: 100%;
    text-align: center;
    border: none;
    color: #333;
    font-size: 1rem;
    appearance: textfield;
    -moz-appearance: textfield;
    display: block;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }
  }

  button {
    height: 100%;
    width: 50px;
    border: none;
    background: transparent;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 767px) {
      &:hover {
        background: #e0e0e0;
      }
    }

    &:active {
      background: #e0e0e0;
    }

    i {
      font-size: 1.2rem;
    }

    &.decrease {
      left: 0;
    }

    &.increase {
      right: 0;
    }

    &:disabled {
      background: #f8f8f8;
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background: #f8f8f8;
      }
    }
  }
}

.quantity-wrapper-spinner-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }
}

.quantity-wrapper-spinner {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
