.page-content {
  margin: 20px 0;
}

.empty-page-header {
  h1 {
    padding: 20px 0 10px 0;
    font-size: 1.7rem;
  }

  a {
    width: fit-content;
    display: block;
    margin: 50px auto 100px;
    border: 1px solid #000;
    padding: 10px 15px;

    &:hover {
      color: #fff;
      background-color: var(--primary-color);
    }
  }
}

.page-header {
  margin-bottom: 10px;
}

.shipping-info {
  overflow: hidden;

  .shipping-info-header {
    padding: 10px 0;
    display: none;
    align-items: center;

    &.visible {
      display: flex;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .profile-link {
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background: #ccc;
    }

    i {
      font-size: 0.9rem;
    }
  }

  .shipping-info-content {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;

    .line-1 {
      display: flex;
      margin-bottom: 10px;

      p {
        font-weight: 400;
      }
    }

    p {
      margin-top: 5px;
    }
  }
}

.items {
  margin-top: 20px;

  .items-title {
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;

    .item {
      display: flex;
      gap: 5px;
      font-size: 0.8rem;
      border: 1px solid #eee;
      padding: 10px;
      border-radius: 5px;

      .image-wrapper {
        width: 50px;
      }

      img {
        max-width: 100%;
      }

      .item-info {
        flex: 1;
        font-size: 0.8rem;
      }

      .item-title {
        cursor: pointer;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }

      .item-price {
        margin-top: 5px;
      }

      .item-quantity {
        margin-top: 5px;
      }
    }
  }
}

.order-wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-start;

  @media (max-width: 797px) {
    flex-direction: column;
    gap: 25px;
  }
}

.order-summary-card {
  flex: 1;
  width: 100%;
  min-width: 350px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .shipping {
    display: flex;
    flex-direction: column;

    .shipping-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.8rem 1.2rem;
      background: rgba(128, 128, 128, 0.09);

      i {
        font-size: 1.2rem;
        margin-left: auto;
        transition: transform 0.3s ease-in-out;

        &.down {
          transform: rotate(180deg);
        }
      }
    }

    .shipping-options {
      height: 170px;
      transition: height 0.3s ease-in-out;

      &.inactive {
        height: 0;
      }
    }

    .shipping-option {
      display: flex;
      padding: 0.1rem 1.2rem;
      flex-wrap: wrap;
      row-gap: 5px;
      -moz-column-gap: 5px;
      column-gap: 5px;
      margin: 5px 0;
    }

    .shipping-option-label {
      cursor: pointer;
    }

    .shipping-option-price {
      display: inline-block;
      margin-left: auto;
    }

    .shipping-option-duration {
      color: #888;
      width: 100%;
    }

    .total-price {
      h3 {
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0.8rem 1.2rem;
        background: rgba(128, 128, 128, 0.09);
      }
    }
  }

  .total-price {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;

    .item-price,
    .shipping-price,
    .total-price-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.2rem;
      line-height: 1.2;
    }

    .total-price-value {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #ddd;
      span {
        font-weight: 500;
      }
    }

    .total-price-subtotal,
    .total-price-shipping,
    .total-price-total {
      padding: 0rem 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .total-price-total .value {
      font-weight: 500;
      font-size: 1.2rem;
      margin-left: auto;
      margin-top: 10px;
    }

    .subtotal-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .items-count {
        font-size: 0.9rem;
        margin-top: 5px;
      }
    }
  }
}

.checkout-button {
  width: calc(100% - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--social-youtube);
  color: #fff;
  font-weight: 400;

  &:hover {
    background-color: #c12727;
  }

  i {
    color: #fff;
    margin-left: 5px;
  }
}

.hidden {
  display: none;
}

.swal2-html-container {
  text-align: left;
}
