.page-content {
  margin: 20px 0;
}

.empty-page-header h1 {
  padding: 20px 0 10px 0;
  font-size: 1.7rem;
}
.empty-page-header a {
  width: fit-content;
  display: block;
  margin: 50px auto 100px;
  border: 1px solid #000;
  padding: 10px 15px;
}
.empty-page-header a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.page-header {
  margin-bottom: 10px;
}

.shipping-info {
  overflow: hidden;
}
.shipping-info .shipping-info-header {
  padding: 10px 0;
  display: none;
  align-items: center;
}
.shipping-info .shipping-info-header.visible {
  display: flex;
}
.shipping-info .shipping-info-header h3 {
  font-size: 1.5rem;
}
.shipping-info .profile-link {
  width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #eee;
  padding: 5px 10px;
  border-radius: 5px;
}
.shipping-info .profile-link:hover {
  background: #ccc;
}
.shipping-info .profile-link i {
  font-size: 0.9rem;
}
.shipping-info .shipping-info-content {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.shipping-info .shipping-info-content .line-1 {
  display: flex;
  margin-bottom: 10px;
}
.shipping-info .shipping-info-content .line-1 p {
  font-weight: 400;
}
.shipping-info .shipping-info-content p {
  margin-top: 5px;
}

.items {
  margin-top: 20px;
}
.items .items-title {
  font-size: 1.5rem;
  padding: 10px 0;
}
.items .items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.items .items-grid .item {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
}
.items .items-grid .item .image-wrapper {
  width: 50px;
}
.items .items-grid .item img {
  max-width: 100%;
}
.items .items-grid .item .item-info {
  flex: 1;
  font-size: 0.8rem;
}
.items .items-grid .item .item-title {
  cursor: pointer;
  font-weight: 400;
}
.items .items-grid .item .item-title:hover {
  text-decoration: underline;
}
.items .items-grid .item .item-price {
  margin-top: 5px;
}
.items .items-grid .item .item-quantity {
  margin-top: 5px;
}

.order-wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.order-summary-card {
  flex: 1;
  width: 100%;
  min-width: 350px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.order-summary-card .shipping {
  display: flex;
  flex-direction: column;
}
.order-summary-card .shipping .shipping-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1.2rem;
  background: rgba(128, 128, 128, 0.09);
}
.order-summary-card .shipping .shipping-title i {
  font-size: 1.2rem;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.order-summary-card .shipping .shipping-title i.down {
  transform: rotate(180deg);
}
.order-summary-card .shipping .shipping-options {
  height: 170px;
  transition: height 0.3s ease-in-out;
}
.order-summary-card .shipping .shipping-options.inactive {
  height: 0;
}
.order-summary-card .shipping .shipping-option {
  display: flex;
  padding: 0.1rem 1.2rem;
  flex-wrap: wrap;
  row-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  margin: 5px 0;
}
.order-summary-card .shipping .shipping-option-label {
  cursor: pointer;
}
.order-summary-card .shipping .shipping-option-price {
  display: inline-block;
  margin-left: auto;
}
.order-summary-card .shipping .shipping-option-duration {
  color: #888;
  width: 100%;
}
.order-summary-card .shipping .total-price h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1.2rem;
  background: rgba(128, 128, 128, 0.09);
}
.order-summary-card .total-price {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
}
.order-summary-card .total-price .item-price,
.order-summary-card .total-price .shipping-price,
.order-summary-card .total-price .total-price-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  line-height: 1.2;
}
.order-summary-card .total-price .total-price-value {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.order-summary-card .total-price .total-price-value span {
  font-weight: 500;
}
.order-summary-card .total-price .total-price-subtotal,
.order-summary-card .total-price .total-price-shipping,
.order-summary-card .total-price .total-price-total {
  padding: 0rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-summary-card .total-price .total-price-total .value {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: auto;
  margin-top: 10px;
}

.checkout-button {
  width: calc(100% - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--social-youtube);
  color: #fff;
  font-weight: 400;
}
.checkout-button:hover {
  background-color: #c12727;
}

.hidden {
  display: none;
}

.swal2-html-container {
  text-align: left;
}/*# sourceMappingURL=checkout.css.map */