* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --header-bg-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.5);
  --primary-color: orange;
  --primary-hover-color: #ff6b00;
  --accent-color: red;
  --footer-bg-color: #333333;
  --footer-dark-bg-color: #2b2b2b;
  --social-facebook: #3c5a99;
  --social-twitter: #00a2e8;
  --social-youtube: #e52e2e;
  --social-instagram: #815dc7;
  --social-rss: #ffc338;
}

a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

nav {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1001;
  display: flex;
  align-items: center;
}

.header {
  display: grid;
  grid-template-areas: "logo form profile cart";
  grid-template-columns: auto 1fr auto auto;
  padding: 20px 0;
  gap: 10px;
  align-items: center;
  background-color: var(--header-bg-color);
}
@media (max-width: 768px) {
  .header {
    grid-template-areas: "logo profile cart" "form form form";
    padding: 0 0 10px;
  }
}
@media (min-width: 769px) {
  .header {
    position: relative;
  }
}
.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--primary-color);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.header p {
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
}
.header .logo {
  grid-area: logo;
  cursor: pointer;
}
.header .cart {
  grid-area: cart;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}
.header .cart-button {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.header .cart-button .alert {
  display: none;
  position: absolute;
  top: 0px;
  right: 2px;
  background-color: var(--accent-color);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.header .cart-button .alert.visible {
  display: inline;
}
.header .cart-item-remove {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-color);
}
.header .cart-item-remove:hover {
  text-decoration: underline;
}
.header .cart-menu-icon {
  font-size: 1.3rem;
}
.header .cart-menu {
  display: none;
  position: absolute;
  top: calc(100% - 25px);
  right: 0;
  background: white;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 1rem;
}
@media (max-width: 768px) {
  .header .cart-menu {
    width: 100%;
    top: calc(50% - 10px);
    padding: 0.5rem;
  }
}
.header .cart-menu.active {
  display: block;
}
.header .cart-menu .cart-items {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  position: relative;
}
.header .cart-menu .cart-items .cart-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}
.header .cart-menu .cart-items .cart-item:last-child {
  border-bottom: none;
}
.header .cart-menu .cart-items .cart-item .cart-item-link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}
.header .cart-menu .cart-items .cart-item .cart-item-link:hover {
  background-color: #f5f5f5;
}
.header .cart-menu .cart-items .cart-item .cart-item-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}
.header .cart-menu .cart-items .cart-item .cart-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.header .cart-menu .cart-items .cart-item .cart-item-details {
  flex: 1;
}
.header .cart-menu .cart-items .cart-item .cart-item-details .cart-item-name {
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.header .cart-menu .cart-items .cart-item .cart-item-details .cart-item-price {
  margin-bottom: 0.25rem;
  color: var(--primary-color);
  font-weight: 500;
}
.header .cart-menu .cart-items .cart-item .cart-item-details .cart-item-price .currency {
  font-weight: 300;
  font-size: 0.8rem;
}
.header .cart-menu .cart-items .cart-item .cart-item-details .cart-item-quantity {
  font-size: 0.9rem;
  color: #666;
}
.header .cart-menu .cart-items .empty-cart {
  padding: 1rem;
  text-align: center;
  color: #666;
}
.header .cart-menu .cart-items .cart-error {
  padding: 1rem;
  text-align: center;
  color: red;
}
.header .cart-menu .cart-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  text-align: center;
  display: none;
}
.header .cart-menu .cart-footer.visible {
  display: block;
}
.header .cart-menu .cart-footer .view-cart-button {
  display: inline-block;
  padding: 0.9rem 1rem;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.header .cart-menu .cart-footer .view-cart-button:hover {
  background: var(--primary-color);
  opacity: 0.8;
}
.header .cart-menu .cart-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.header .cart-menu .cart-menu-overlay.active {
  display: flex;
}
.header .cart-menu .cart-menu-overlay .cart-menu-overlay-spinner {
  animation: spin 1s linear infinite;
  color: var(--primary-color);
  font-size: 2rem;
}
.header .profile {
  grid-area: profile;
  margin-left: auto;
}
.header .avatar {
  max-width: 100%;
  border-radius: 50%;
  outline: 5px solid white;
  width: 2rem;
  cursor: pointer;
}
.header .avatar:hover + .profile-menu {
  display: block;
}
.header form {
  grid-area: form;
  flex: 1;
  height: 50px;
  position: relative;
  margin: 0 20px;
}
@media (max-width: 768px) {
  .header form {
    margin: 0;
  }
}
.header form input {
  height: 100%;
  width: 100%;
  padding: 0 100px 0 10px;
  border: none;
  outline: 1px solid #cac8c8;
  font-size: 1rem;
}
.header form input:focus {
  outline: 2px solid var(--primary-color);
}
.header form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  outline: none;
  border: none;
  width: 90px;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
.header .profile {
  position: relative;
}

.display-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 1rem;
}
.display-settings .sort-by-label {
  min-width: 55px;
}
.display-settings select {
  height: 25px;
  background-color: white;
  border: none;
  outline: none;
}
.display-settings .sort-by-select {
  font-size: 1rem;
}

.page-overlay {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  z-index: 1000;
}

.page-overlay-spinner {
  color: var(--primary-color);
  animation: spin 1s linear infinite;
  font-size: 2.5rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-to-top:hover {
  background-color: var(--primary-hover-color);
}
.scroll-to-top:active {
  background-color: var(--primary-hover-color);
}
.scroll-to-top i {
  font-size: 1.5rem;
}

.footer-area {
  padding: 30px 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  margin-top: auto; /* Push to bottom */
}
.footer-area .content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-area .footer-col {
  display: flex;
  flex-direction: column;
}
.footer-area .contact-us-col {
  max-width: 400px;
}
.footer-area .newsletter-col {
  max-width: 300px;
}
.footer-area .footer-col-header {
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}
.footer-area .contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.footer-area .contact-us .summary {
  grid-column: 1/span 2;
  margin-bottom: 10px;
}
.footer-area .contact-us .address-type {
  margin-bottom: 5px;
}
.footer-area ul a {
  display: block;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.footer-area ul a:hover {
  text-decoration: underline;
}
.footer-area .newsletter form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.footer-area .newsletter .form-description {
  width: 100%;
}
.footer-area .newsletter input[type=text] {
  height: 30px;
  padding: 5px;
  max-width: 250px;
}
.footer-area .newsletter input[type=submit] {
  height: 30px;
  padding: 5px 20px;
  color: white;
  background-color: var(--accent-color);
  border: none;
}
.footer-area .newsletter .social-media-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.footer-area .newsletter .description {
  width: 100%;
}
.footer-area .newsletter a:hover {
  text-decoration: none;
}
.footer-area .newsletter .icon {
  width: 25px;
  height: 25px;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-area .newsletter .icon-facebook {
  color: white;
  background-color: var(--social-facebook);
}
.footer-area .newsletter .icon-twitter {
  color: white;
  background-color: var(--social-twitter);
}
.footer-area .newsletter .icon-youtube {
  color: white;
  background-color: var(--social-youtube);
}
.footer-area .newsletter .icon-instagram {
  color: white;
  background-color: var(--social-instagram);
}
.footer-area .newsletter .icon-rss {
  color: black;
  background-color: var(--social-rss);
}

footer {
  font-size: 13px;
  padding: 20px 0;
  color: var(--footer-text-color);
  background-color: var(--footer-dark-bg-color);
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer span:first-of-type a {
  color: white;
}
footer img {
  width: 40px;
}

.container {
  padding: 5px 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}/*# sourceMappingURL=commons.css.map */