* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --header-bg-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.5);
  --primary-color: #000000;
  --primary-hover-color: #ff6b00;
  --accent-color: red;
  --footer-bg-color: #333333;
  --footer-dark-bg-color: #2b2b2b;
  --social-facebook: #3c5a99;
  --social-twitter: #00a2e8;
  --social-youtube: #e52e2e;
  --social-instagram: #815dc7;
  --social-rss: #ffc338;
}

a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-spin {
  animation-duration: 1s;
  color: var(--primary-hover-color);
}

.section-margin {
  margin-bottom: 10px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1001;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header {
  display: grid;
  grid-template-areas: "logo form profile cart";
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  background-color: var(--header-bg-color);

  @media (max-width: 768px) {
    grid-template-areas:
      "logo profile cart"
      "form form form";
    padding: 0 0 10px;
    row-gap: 5px;
  }

  @media (min-width: 769px) {
    position: relative;
  }

  h1 {
    font-weight: 500;
    .highlight {
      color: var(--primary-hover-color);
      font-weight: 500;
      font-style: italic;
    }
  }

  p {
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 400;
  }

  .logo {
    grid-area: logo;
    cursor: pointer;
  }

  .cart {
    grid-area: cart;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
  }

  .cart-button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .alert {
      display: none;
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: var(--accent-color);
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
    }

    .alert.visible {
      display: inline;
    }

    .cart-menu-img {
      width: 100%;
      height: 100%;
    }
  }

  .profile {
    display: block;
    grid-area: profile;
    border-radius: 50%;
    overflow: hidden;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;

    @media (max-width: 768px) {
      margin: 0 0.5rem 0 auto;
    }

    .avatar {
      width: 100%;
      height: 100%;
    }
  }

  form {
    grid-area: form;
    height: 35px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    margin-left: 1rem;
    margin-right: 1.5rem;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  form input {
    height: 100%;
    width: 100%;
    padding: 0 100px 0 10px;
    border: none;
    font-size: 1rem;
  }

  form input:focus {
    outline: 2px solid var(--primary-color);
  }

  form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    outline: none;
    border: none;
    width: 90px;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
  }
}

.display-settings-section {
  margin: 30px 0 15px;
}

.display-settings {
  display: flex;
  justify-content: flex-end;

  .sort-by-label {
    margin-right: 0.5rem;
  }

  .sort-by {
    display: flex;
    align-items: center;
  }

  .option {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    cursor: pointer;
    font-weight: 400;
    &.active {
      border-color: rgba(0, 0, 0, 1);
      opacity: 1;
    }
  }
}

.page-overlay {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: center;
  z-index: 1000;
}

.page-overlay-spinner {
  animation: spin 1s linear infinite;
  font-size: 2.5rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:active {
    background-color: var(--primary-hover-color);
  }

  i {
    font-size: 1.5rem;
  }
}

.footer-area {
  padding: 30px 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  margin-top: auto; /* Push to bottom */

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-col {
    display: flex;
    flex-direction: column;
  }

  .contact-us-col {
    max-width: 400px;
  }

  .newsletter-col {
    max-width: 300px;
  }

  .footer-col-header {
    font-weight: 300;
    margin-bottom: 20px;
    color: white;
  }

  .contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .summary {
      grid-column: 1 / span 2;
      margin-bottom: 10px;
    }

    .address-type {
      margin-bottom: 5px;
    }
  }

  ul a {
    display: block;
    color: var(--main-text-color);
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .newsletter {
    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }

    .form-description {
      width: 100%;
    }

    input[type="text"] {
      height: 30px;
      padding: 5px;
      max-width: 250px;
    }

    input[type="submit"] {
      height: 30px;
      padding: 5px 20px;
      color: white;
      background-color: var(--accent-color);
      border: none;
    }

    .social-media-links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
    }

    .description {
      width: 100%;
    }

    a:hover {
      text-decoration: none;
    }

    .icon {
      width: 25px;
      height: 25px;
      font-size: 13px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-facebook {
      color: white;
      background-color: var(--social-facebook);
    }

    .icon-twitter {
      color: white;
      background-color: var(--social-twitter);
    }

    .icon-youtube {
      color: white;
      background-color: var(--social-youtube);
    }

    .icon-instagram {
      color: white;
      background-color: var(--social-instagram);
    }

    .icon-rss {
      color: black;
      background-color: var(--social-rss);
    }
  }
}

footer {
  font-size: 13px;
  padding: 20px 0;
  color: var(--footer-text-color);
  background-color: var(--footer-dark-bg-color);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span:first-of-type a {
    color: white;
  }

  img {
    width: 40px;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.hidden {
  display: none;
}

.revirew-stars {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  color: gray;
}

.reviews-count {
  font-size: 0.9rem;
  color: gray;
}

.rating-star {
  font-size: 0.9rem;
  margin-right: 0.1rem;
  display: inline-block;

  &.colored--golden {
    color: gold;
  }

  &.colored--grey {
    color: rgb(118 112 112);
  }
}
