.section-margin {
  margin-bottom: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  .product {
    border: 1px solid #e2e0e0;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .product-info {
    cursor: pointer;
  }

  .product-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
  }

  .title {
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stock {
    margin: 5px 0 10px;
    font-size: 1rem;
    color: var(--accent-color);
  }

  .price {
    margin: 10px 0 0;
    display: flex;
    gap: 5px;
    align-items: center;

    sup {
      font-size: 0.9rem;
    }

    .old {
      text-decoration: line-through;
      margin-left: 0.3em;
      font-size: 1rem;
      opacity: 0.6;
    }

    .current {
      font-weight: 400;
      font-size: 1.5rem;
      color: var(--primary-color);
    }

    .discount-label {
      width: fit-content;
      border-radius: 5px;
      color: var(--primary-color);
      font-weight: 400;
      background-color: rgb(255 165 0 / 20%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      padding: 3px 6px;
    }
  }

  .free-shipping {
    font-size: 0.95rem;
    margin: 10px 0 5px 0;
    color: var(--accent-color);
  }

  .description {
    line-height: 1.7;
    margin: 10px 0;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto 20px 0;
  width: -moz-fit-content;
  width: fit-content;

  &.pagination--bottom {
    margin: 50px auto 50px;
  }

  &.pagination--top {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
  }

  .page-btn-prev,
  .page-btn-next {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px 10px;
    color: #333;

    &:disabled {
      color: #ccc;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      color: #666;
    }
  }

  .next-page-icon {
    font-size: 1.5rem;
  }

  .pages {
    display: flex;
    gap: 5px;
  }

  .page-number {
    width: 45px;
    height: 40px;
    border: 1px solid #ccc;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;

    &:hover:not(.active) {
      background: #f5f5f5;
    }

    &.active {
      background-color: var(--primary-color);
      color: #fff;
      cursor: default;
    }
  }
}
