.main-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0 1rem 0;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 1rem;
  }

  .product-title {
    font-weight: 400;
    line-height: 1.3;
    font-size: 1.3rem;
  }

  .subheader {
    margin: 0.5rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .product-title {
      display: none;
      @media (min-width: 992px) {
        display: flex;
      }
    }

    .subheader {
      @media (max-width: 899px) {
        display: none;
      }
    }
  }

  .product-brand {
    margin: 0.2rem 0.5rem 0.5rem 0;
    font-size: 1.1rem;
    color: #352be2;
    &:hover {
      text-decoration: underline;
    }
  }

  .product-rating {
    font-size: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

    i {
      font-size: 1rem;
    }
  }

  .product-price {
    margin: 0.5rem 0;

    @media (max-width: 992px) {
      margin-top: 0;
    }

    .current {
      font-size: 1rem;
      font-weight: 500;

      .value {
        font-size: clamp(1rem, 10vw, 2rem);
        font-weight: 400;
      }
    }

    .old {
      font-size: clamp(0.95rem, 5vw, 1.5rem);
      opacity: 0.7;
      text-decoration: line-through;
      margin-left: 10px;
    }
  }

  .sold-by-link {
    color: #352be2;
    &:hover {
      text-decoration: underline;
    }
  }

  .discount {
    color: #fff;
    width: fit-content;
    background: var(--primary-hover-color);
    padding: 3px 5px;
    border-radius: 5px;
    span {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }

  .quantity {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    margin-top: 10px;

    .low-stock {
      color: #c12727;
    }
  }

  .images {
    width: 100%;
    max-width: 767px;
    flex: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .image-wrapper {
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50%;
    }
  }

  .alt-images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    overflow-x: auto;
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .alt-image-wrapper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50%;
    }

    &.active {
      border: 1px solid #000;
      border-radius: 3px;
      overflow: hidden;
    }
  }

  .order-details {
    flex: 1;
    min-width: 320px;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .order-details-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d3d3;
    border-radius: 10px;
    padding: 1.5rem 0;
    font-size: 1rem;

    @media (max-width: 992px) {
      width: 100%;
    }

    .price {
      padding: 0 1.2rem;
      font-size: clamp(0.95rem, 10vw, 1.5rem);
      font-weight: 500;
      margin: 0 0 15px 0;
    }

    .sold-by,
    .returns,
    .warranty {
      padding: 0 1.2rem;
      margin-bottom: 10px;
    }

    .returns,
    .warranty {
      color: forestgreen;
    }

    .order-card-title {
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.8rem 1.2rem;
      background: rgba(128, 128, 128, 0.09);
    }

    .shipping {
      display: flex;
      flex-direction: column;

      h3 {
        cursor: pointer;
        display: flex;
        align-items: center;
        i {
          font-size: 1.2rem;
          margin-left: auto;
          transition: transform 0.3s ease-in-out;

          &.down {
            transform: rotate(180deg);
          }
        }
      }

      .shipping-options {
        height: 170px;
        transition: height 0.3s ease-in-out;

        &.inactive {
          height: 0;
        }
      }

      .shipping-option {
        display: flex;
        padding: 0.1rem 1.2rem;
        flex-wrap: wrap;
        row-gap: 5px;
        -moz-column-gap: 5px;
        column-gap: 5px;
        margin: 5px 0;
      }

      .shipping-option-label {
        cursor: pointer;
      }

      .shipping-option-price {
        display: inline-block;
        margin-left: auto;
      }

      .shipping-option-duration {
        color: #888;
        width: 100%;
      }
    }

    .total-price {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #fff;

      .item-price,
      .shipping-price,
      .total-price-value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;
        line-height: 1.2;
      }

      .total-price-value {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
        span {
          font-weight: 500;
        }
      }
    }

    .bottom-product-bar {
      margin: 30px 1.2rem 5px;
      width: auto;
    }

    .buy-now-button {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 1.2rem 00;
      cursor: pointer;
      border-radius: 5px;
      background-color: var(--social-youtube);
      color: #fff;
      font-weight: 400;

      &:hover {
        background-color: #c12727;
      }
    }
  }
}

.swiper {
  width: 100%;
  overflow: hidden;
  flex: 1;

  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-weight: 700;
    color: var(--primary-color);
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-color);
  }

  @media (max-width: 767px) {
    display: block;
  }
}

.product-description {
  margin: 1rem 0;

  h3 {
    font-weight: 400;
    margin-bottom: 5px;
  }

  p {
    line-height: 1.5;
  }
}

.features-section {
  .features-summary {
    line-height: 1.5;
  }

  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
  }

  .table-container {
    width: 100%;
  }

  .features-table {
    border-collapse: collapse;
    font-size: 1rem;
    table-layout: fixed;
    word-break: break-word;

    td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    .feature-name {
      width: 30%;
      font-weight: 400;
      background-color: #f8f8f8;
      white-space: wrap;
    }
  }

  .cover-image-wrapper {
    width: 100%;
    margin: 1rem 0;
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }
}

.reviews-section {
  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
  }

  .review {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 10px;

    .review-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .review-header {
      display: flex;
      align-items: center;
    }

    .review-info {
      flex: 1;
      display: flex;
      flex-direction: column;

      .reviewer-name {
        font-weight: bold;
        font-size: 1rem;
      }

      .verified-badge {
        color: green;
        margin-left: 5px;
      }

      .verified-badge-text {
        color: #444;
        font-size: 0.8rem;
        margin-left: 2px;
      }

      .review-text {
        margin: 5px 0;
        color: #444;
      }

      .review-date {
        font-size: 0.9rem;
        color: #888;
      }
    }
  }
}

.related-products {
  margin-bottom: 2rem;

  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
  }

  .related-products-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bcb9b9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #bcb9b9 #f1f1f1;

    .related-product-link {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border: 2px solid #eee;
      padding: 10px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      span {
        font-size: 0.8rem;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .product-price {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}
