.main-section {
  display: flex;
  gap: 2rem;
}
@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    gap: 1rem;
  }
}
.main-section .product-title {
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.4rem;
}
.main-section .subheader {
  margin: 0.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main-section .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-section .details .product-title {
  display: none;
}
@media (min-width: 900px) {
  .main-section .details .product-title {
    display: flex;
  }
}
@media (max-width: 899px) {
  .main-section .details .subheader {
    display: none;
  }
}
.main-section .product-brand {
  margin: 0.2rem 0.5rem 0.5rem 0;
  font-size: 1.1rem;
  text-decoration: underline;
  color: #352be2;
}
.main-section .product-rating {
  font-size: 0.8rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.main-section .product-rating i {
  font-size: 1rem;
}
.main-section .bottom-product-bar {
  margin: 1rem 0;
  width: 100%;
}
.main-section .product-price {
  margin: 1.5rem 0;
}
@media (max-width: 900px) {
  .main-section .product-price {
    margin-top: 0;
  }
}
.main-section .product-price .current {
  font-size: 1rem;
  font-weight: 500;
}
.main-section .product-price .current .value {
  font-size: clamp(1rem, 12vw, 4rem);
  font-weight: 400;
}
.main-section .product-price .old {
  font-size: clamp(1rem, 5vw, 1.5rem);
  opacity: 0.7;
  text-decoration: line-through;
  margin-left: 10px;
}
.main-section .images {
  max-width: 400px;
  flex: 1;
}
@media (max-width: 900px) {
  .main-section .images {
    display: none;
  }
}
.main-section .image-wrapper {
  width: 100%;
  cursor: pointer;
}
.main-section .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}
.main-section .alt-images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  overflow-x: auto;
  width: 100%;
}
@media (max-width: 900px) {
  .main-section .alt-images {
    display: none;
  }
}
.main-section .alt-image-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
}
.main-section .alt-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}
.main-section .alt-image-wrapper.active {
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
}
.main-section .order-details {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  width: 300px;
}
@media (max-width: 900px) {
  .main-section .order-details {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  font-weight: 700;
  color: var(--primary-color);
}
.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper .swiper-pagination-bullet-active {
  background: var(--primary-color);
}
@media (max-width: 899px) {
  .swiper {
    display: block;
  }
}

.benifits {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}
@media (max-width: 900px) {
  .benifits {
    justify-content: space-between;
  }
}
.benifits .benifit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 1.5rem;
}
.benifits .benifit.hidden {
  display: none;
}
.benifits .benifit i {
  font-size: 2rem;
  color: var(--primary-color);
}
.benifits .benifit span {
  font-size: 1rem;
  max-width: 100px;
  word-wrap: break-word;
}

.product-description {
  margin: 1rem 0;
  font-weight: 400;
}

.features-section h2 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
}
.features-section .table-container {
  width: 100%;
}
.features-section .features-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}
.features-section .features-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.features-section .features-table .feature-name {
  width: 30%;
  font-weight: 400;
  background-color: #f8f8f8;
  white-space: wrap;
}
.features-section .cover-image-wrapper {
  width: 100%;
  margin: 1rem 0;
}
.features-section .cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

.reviews-section h2 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
}
.reviews-section .review {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
}
.reviews-section .review .review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-section .review .review-header {
  display: flex;
  align-items: center;
}
.reviews-section .review .review-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reviews-section .review .review-info .reviewer-name {
  font-weight: bold;
  font-size: 1rem;
}
.reviews-section .review .review-info .verified-badge {
  color: green;
  margin-left: 5px;
}
.reviews-section .review .review-info .verified-badge-text {
  color: #444;
  font-size: 0.8rem;
  margin-left: 2px;
}
.reviews-section .review .review-info .review-text {
  margin: 5px 0;
  color: #444;
}
.reviews-section .review .review-info .review-date {
  font-size: 0.9rem;
  color: #888;
}

.related-products {
  margin-bottom: 2rem;
}
.related-products h2 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
}
.related-products .related-products-wrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #bcb9b9 #f1f1f1;
}
.related-products .related-products-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.related-products .related-products-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.related-products .related-products-wrapper::-webkit-scrollbar-thumb {
  background: #bcb9b9;
  border-radius: 10px;
}
.related-products .related-products-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.related-products .related-products-wrapper .related-product-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #eee;
  padding: 10px;
}
.related-products .related-products-wrapper .related-product-link img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-products .related-products-wrapper .related-product-link span {
  font-size: 0.8rem;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.related-products .related-products-wrapper .related-product-link .product-price {
  font-weight: 400;
  font-size: 1rem;
}/*# sourceMappingURL=product.css.map */