.main-section {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
}
.main-section .product-title {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.7rem;
}
.main-section .subheader {
  display: flex;
  justify-content: space-between;
}
.main-section .subheader a:hover {
  text-decoration: underline;
}
.main-section .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.main-section .details .product-title,
.main-section .details .subheader {
  display: none;
}
@media (min-width: 768px) {
  .main-section .details .product-title,
  .main-section .details .subheader {
    display: block;
  }
}
.main-section .details .subheader {
  margin-bottom: 1rem;
}
.main-section .product-rating {
  font-size: 0.8rem;
}
.main-section .bottom-product-bar {
  max-width: 350px;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .main-section .bottom-product-bar {
    max-width: 100%;
  }
}
.main-section .product-price {
  margin: 0 0 1rem;
}
.main-section .product-price .current {
  font-size: 1rem;
  font-weight: 500;
}
.main-section .product-price .current sup {
  font-size: 0.8rem;
}
.main-section .product-price .current .value {
  font-size: 1.7rem;
  font-weight: 400;
}
.main-section .product-price .old {
  font-size: 0.8rem;
  opacity: 0.7;
  text-decoration: line-through;
}
.main-section .images {
  width: 100%;
  flex: 1.2;
}
.main-section .images .product-title,
.main-section .images .subheader {
  display: none;
}
@media (max-width: 767px) {
  .main-section .images .product-title,
  .main-section .images .subheader {
    display: block;
  }
}
.main-section .images .subheader {
  margin-bottom: 1rem;
}
.main-section .image-wrapper {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.main-section .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.main-section .alt-images {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.main-section .alt-image-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.main-section .alt-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.main-section .alt-image-wrapper.active {
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
}

.benifits {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .benifits {
    justify-content: space-between;
  }
}
.benifits .benifit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-size: 1.5rem;
}
.benifits .benifit.hidden {
  display: none;
}
.benifits .benifit span {
  font-size: 0.8rem;
}

.product-description .show-more,
.product-description .show-less {
  font-size: 0.9rem;
}
.product-description .show-more:hover,
.product-description .show-less:hover {
  cursor: pointer;
  text-decoration: underline;
}
.product-description .short.visible {
  display: inline;
}
.product-description .long.visible {
  display: inline;
}

.related-products {
  display: flex;
  overflow-x: auto;
}/*# sourceMappingURL=product.css.map */