* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --header-bg-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.5);
  --primary-color: orange;
  --primary-hover-color: #ff6b00;
  --accent-color: red;
  --footer-bg-color: #333333;
  --footer-dark-bg-color: #2b2b2b;
  --social-facebook: #3c5a99;
  --social-twitter: #00a2e8;
  --social-youtube: #e52e2e;
  --social-instagram: #815dc7;
  --social-rss: #ffc338;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

nav {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header {
  display: grid;
  grid-template-areas: "logo form cart profile";
  grid-template-columns: auto 1fr auto auto;
  padding: 20px 0;
  gap: 25px;
  align-items: center;
  background-color: var(--header-bg-color);
}
@media (max-width: 768px) {
  .header {
    grid-template-areas: "logo . cart profile" "form form form form";
  }
}
.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--primary-color);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.header p {
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
}
.header .logo {
  grid-area: logo;
}
.header .cart {
  grid-area: cart;
  margin-right: 0;
  margin-left: auto;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}
.header .cart .alert {
  display: none;
  position: absolute;
  top: -5px;
  right: 0;
  background-color: var(--accent-color);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.header .cart .alert.visible {
  display: inline;
}
.header .profile {
  grid-area: profile;
}
.header .avatar {
  max-width: 100%;
  border-radius: 50%;
  outline: 5px solid white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.header .avatar:hover + .profile-menu {
  display: block;
}
.header form {
  grid-area: form;
  flex: 1;
  height: 50px;
  position: relative;
}
.header form input {
  height: 100%;
  width: 100%;
  padding: 0 100px 0 10px;
  border: none;
  outline: 1px solid #cac8c8;
  font-size: 1rem;
}
.header form input:focus {
  outline: 2px solid var(--primary-color);
}
.header form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  outline: none;
  border: none;
  width: 90px;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
.header .profile {
  position: relative;
}

.section-margin {
  margin-bottom: 10px;
}

.cover {
  height: 120px;
  background-image: url("img/ecommerce.png");
  background-size: cover;
  background-position: left;
}

.display-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 1rem;
}
.display-settings .sort-by-label {
  min-width: 55px;
}
.display-settings select {
  height: 25px;
  background-color: white;
  border: none;
  outline: none;
}
.display-settings .sort-by-select {
  font-size: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.products .product {
  border: 1px solid #e2e0e0;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.products .product:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.products .product-info {
  cursor: pointer;
}
.products .product-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1.5;
  overflow: hidden;
  margin-bottom: 20px;
}
.products img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.products .details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 20px;
}
.products .rating-star {
  font-size: 0.9rem;
  margin-right: 0.1rem;
  display: inline-block;
}
.products .rating-star.colored--golden {
  color: gold;
}
.products .rating-star.colored--grey {
  color: rgb(228, 227, 227);
}
.products .title {
  font-weight: 400;
  font-size: 1rem;
}
.products .stock {
  margin: 5px 0 10px;
  font-size: 1rem;
  opacity: 0.6;
  color: var(--accent-color);
}
.products .price {
  margin: 10px 0 0;
  display: flex;
  gap: 5px;
  align-items: center;
}
.products .price sup {
  font-size: 0.9rem;
}
.products .price .old {
  text-decoration: line-through;
  margin-left: 0.3em;
  font-size: 1rem;
  opacity: 0.6;
}
.products .price .current {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.products .price .discount-label {
  width: fit-content;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 400;
  background-color: rgba(255, 165, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 3px 6px;
}
.products .free-shipping {
  opacity: 0.6;
  font-size: 0.95rem;
  margin-bottom: 5px;
}
.products .description {
  line-height: 1.7;
  margin: 10px 0;
}
.products .bottom-product-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: 100%;
  height: 40px;
}
.products .cart-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  cursor: pointer;
}
.products .cart-icon {
  color: #fff;
}
.products .cart-icon.hidden {
  display: none;
}
.products .spinner-icon {
  color: #fff;
}
.products .spinner-icon.hidden {
  display: none;
}
.products .cart-add {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.products .cart-add.active {
  width: fit-content;
}
.products .cart-remove {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.products .cart-remove.active {
  transform: translateX(0);
  opacity: 1;
}
.products .cart-remove:not(.active) {
  width: 0;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.products .quantity-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.products .quantity-wrapper.hidden {
  display: none;
}
.products .quantity-wrapper input {
  width: 50px;
  height: 100%;
  text-align: center;
  border: none;
  color: #333;
  font-size: 1rem;
  -moz-appearance: textfield;
  display: block;
}
.products .quantity-wrapper input::-webkit-outer-spin-button, .products .quantity-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.products .quantity-wrapper input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.products .quantity-wrapper button {
  height: 100%;
  width: 40px;
  border: none;
  background: #f0f0f0;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .quantity-wrapper button:hover {
  background: #e0e0e0;
}
.products .quantity-wrapper button.decrease {
  left: 0;
  border-right: 1px solid #ccc;
}
.products .quantity-wrapper button.increase {
  right: 0;
  border-left: 1px solid #ccc;
}
.products .cart-remove {
  display: none;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: 0.3s;
}
.products .cart-remove.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.products .trash-icon {
  color: #fff;
}

.products-overlay {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  z-index: 1000;
}

.products-overlay-spinner {
  color: var(--primary-color);
  animation: spin 1s linear infinite;
  font-size: 2.5rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto 20px 0;
  width: -moz-fit-content;
  width: fit-content;
}
.pagination.pagination--bottom {
  margin: 50px auto 50px;
}
.pagination.pagination--top {
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
}
.pagination .page-btn-prev,
.pagination .page-btn-next {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}
.pagination .page-btn-prev:disabled,
.pagination .page-btn-next:disabled {
  color: #ccc;
  cursor: not-allowed;
}
.pagination .page-btn-prev:not(:disabled):hover,
.pagination .page-btn-next:not(:disabled):hover {
  color: #666;
}
.pagination .next-page-icon {
  font-size: 1.5rem;
}
.pagination .pages {
  display: flex;
  gap: 5px;
}
.pagination .page-number {
  width: 45px;
  height: 40px;
  border: 1px solid #ccc;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.pagination .page-number:hover:not(.active) {
  background: #f5f5f5;
}
.pagination .page-number.active {
  color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
  cursor: default;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-to-top:hover {
  background-color: var(--primary-hover-color);
}
.scroll-to-top:active {
  background-color: var(--primary-hover-color);
}
.scroll-to-top i {
  font-size: 1.5rem;
}

.footer-area {
  padding: 30px 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}
.footer-area .content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-area .footer-col {
  display: flex;
  flex-direction: column;
}
.footer-area .contact-us-col {
  max-width: 400px;
}
.footer-area .newsletter-col {
  max-width: 300px;
}
.footer-area .footer-col-header {
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}
.footer-area .contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.footer-area .contact-us .summary {
  grid-column: 1/span 2;
  margin-bottom: 10px;
}
.footer-area .contact-us .address-type {
  margin-bottom: 5px;
}
.footer-area ul a {
  display: block;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.footer-area ul a:hover {
  text-decoration: underline;
}
.footer-area .newsletter form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.footer-area .newsletter .form-description {
  width: 100%;
}
.footer-area .newsletter input[type=text] {
  height: 30px;
  padding: 5px;
  max-width: 250px;
}
.footer-area .newsletter input[type=submit] {
  height: 30px;
  padding: 5px 20px;
  color: white;
  background-color: var(--accent-color);
  border: none;
}
.footer-area .newsletter .social-media-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.footer-area .newsletter .description {
  width: 100%;
}
.footer-area .newsletter a:hover {
  text-decoration: none;
}
.footer-area .newsletter .icon {
  width: 25px;
  height: 25px;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-area .newsletter .icon-facebook {
  color: white;
  background-color: var(--social-facebook);
}
.footer-area .newsletter .icon-twitter {
  color: white;
  background-color: var(--social-twitter);
}
.footer-area .newsletter .icon-youtube {
  color: white;
  background-color: var(--social-youtube);
}
.footer-area .newsletter .icon-instagram {
  color: white;
  background-color: var(--social-instagram);
}
.footer-area .newsletter .icon-rss {
  color: black;
  background-color: var(--social-rss);
}

footer {
  font-size: 13px;
  padding: 20px 0;
  color: var(--footer-text-color);
  background-color: var(--footer-dark-bg-color);
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer span:first-of-type a {
  color: white;
}
footer img {
  width: 40px;
}

.container {
  padding: 5px 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}/*# sourceMappingURL=styles.css.map */